{
    "presets": [
        "@babel/env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-typescript",
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-runtime"
        ,
        ["import", { "libraryName": "antd", "style": true }]
    ]
}