<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script>
        self = globalThis; window.platform = "sciter";
        function getComputedStyle(el) {
            return window.getComputedStyle ? window.getComputedStyle(el) : el.currentStyle;
        }
        window.getComputedStyle = getComputedStyle;
    </script>
    <script type="module">
        import * as sys from "@sys";
        import * as env from "@env";
        import * as sciter from "@sciter";

        window.env = env;
    </script>
<link href="main-e161f5950e461ae2a519.css" rel="stylesheet"></head>

<body>
    <div id="root"></div>
<script src="bundle.js"></script></body>

</html>