.app {
    text-align: center;
    height: 100vh;
    background-color: #282c34;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flow: vertical;
    horizontal-align: center;
  }
  
  #nav-links a{
    padding: 0 10px;
  }

  .app-logo {
    height: 120px;
    pointer-events: none;
  }
  
  .app-content {

    margin-top: x;
    margin-bottom: x;

    font-size: 10pt;
    color: white;
  }
  
  .app-link {
    color: #61dafb;
    margin-right: 10px;
  }

  